<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uav.autodebit">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Mosambee permissions -->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        android:requiredFeature="false" />

    <application
        android:name=".constant.GlobalApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/autopehomelogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/autopehomelogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Verify_Otp_By_Id"></activity>
        <activity android:name=".Activity.HistorySummary" />
        <activity android:name=".Activity.History" />
        <activity android:name=".Activity.Uber" />
        <activity android:name=".Activity.CreditCardBill" />
        <activity android:name=".Activity.ChangePassword" />
        <activity android:name=".Activity.IRCTC" />
        <activity android:name=".Activity.Hyd_Metro" />
        <activity android:name=".Activity.Mum_Metro" />
        <activity
            android:name=".Activity.Verify_OTP"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Electricity_Bill"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.Gas_Bill"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Mobile_Postpaid"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MTNL_Landline_Delhi"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Bsnl_Landline_Individual"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Bsnl_Landline_Corporate"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Water"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Broadband"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LandlineBill"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.DMRC_Cards_List"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Dmrc_Card_Request"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.DTH_Recharge_Service" />
        <activity
            android:name=".Activity.Browse_Plan"
            android:label="@string/title_activity_browse__plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Listview_With_Image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Mobile_Prepaid_Recharge_Service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Credit_Score"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Paynimo_HDFC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AdditionalService"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.All_Service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ListViewSingleText"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SI_First_Data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Credit_Score_Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AutoSearchView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Profile_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Add_Credit_Card"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Add_Bank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".Activity.Webview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.Enach_Mandate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Verify_Sign_OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.User_Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.BarcodeScanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PanVerification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Splash_Screen"
            android:screenOrientation="portrait"
            android:theme="@style/fullscreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BroadCastReceiver.MySMSBroadCastReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.uav.autodebit.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activity.SendLog"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".activity.SendLog" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Firebase Notifications -->
        <service android:name=".Notification.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activity.Help" />
        <activity android:name=".Activity.D2H" />
        <activity android:name=".Activity.PNG" />
    </application>

</manifest>